body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* Schwarzer Hintergrund */
    color: white; /* Weiße Schriftfarbe */
}

header {
    background-color: #4CAF50;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: calc(100% - 40px);
    margin: 20px auto;
    transition: top 0.3s;
}

header.hidden {
    top: -80px; /* Versteckt den Header nach oben */
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

main {
    margin-top: 120px; /* Platz oberhalb des main-Inhalts, um Header zu vermeiden */
    padding: 40px;
}

#intro {
    background-image: url('images/intro-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#intro h1 {
    font-size: 6em;
    font-weight: bold;
    margin-bottom: 20px;
}

#intro p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.scroll-down {
    font-size: 2em;
    margin-top: 20px;
    cursor: pointer;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

section {
    margin-bottom: 80px; /* Größerer Abstand zwischen den Abschnitten */
    text-align: center; /* Überschriften zentriert */
}

section h1 {
    font-size: 3em; /* Größere Überschrift */
    font-weight: bold;
    margin-bottom: 40px;
}

.timer, #clock {
    font-size: 4em; /* Größerer Timer und Uhrzeit-Anzeige */
    margin-top: 40px;
}

#color-picker-button, #timer-color-picker-button {
    margin-top: 20px; /* Abstand vom Button zur Uhrzeit */
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

footer h1 {
    font-size: 3em; /* Größere Überschrift im Footer */
    font-weight: bold;
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 20px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

footer ul li a:hover {
    color: #4CAF50;
}
